<div class="section-divider">&nbsp;</div>
<section id="footer">
  <div id="followups">
    <div class="followup">
      <span class="title">CONTACT</span>
      <div class="divider">&nbsp;</div>
      <a href="https://x.com/suprdeclarative" target="_blank">@SuprDeclarative</a>
    </div>

    <div class="followup-spacer">&nbsp;</div>

    <div class="followup">
      <span class="title">OPEN SOURCE</span>
      <div class="divider">&nbsp;</div>
      <a href="https://flutterbountyhunters.com" target="_blank">Flutter Bounty Hunters</a>
    </div>

    <div class="followup-spacer">&nbsp;</div>

    <div class="followup">
      <span class="title">CONTRACT HELP</span>
      <div class="divider">&nbsp;</div>
      <a href="https://superdeclarative.com" target="_blank">SuperDeclarative!</a>
    </div>
  </div>
  <span class="copyright">Copyright 2023, Declarative Inc</span>
</section>