<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{  title  }}</title>
    <meta name="description" content="{{ description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#FF262A2F">

    <!-- Open Graph Social Media -->
    <meta property="og:url" content="https://flutterarbiter.com/${{ url }}" />
    <meta property="og:title" content="{{ title }} | Flutter Arbiter" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="/images/branding/flutter-arbiter_logo-preview.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@FlutterBounties" />
    <meta name="twitter:url" content="https://flutterarbiter.com/${{ url }}" />
    <meta name="twitter:title" content="{{ title }} | Flutter Arbiter" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="/images/branding/flutter-arbiter_logo-preview.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <link href="/styles/prism.css" rel="stylesheet">

    <link rel="stylesheet" href="/styles/article.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Junge&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Flat Icons -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css'>

    {{ components.google_analytics() }}
  </head>

  <body>
    <div class="content-with-gutters">
      <div class="main-gutter-left">
        <div class="branding-gutter">
          <a href="/">
            <img src="/images/branding/logo_flat.png" class="logo">
            <div class="title">FLUTTER<br>ARBITER</div>
          </a>
          <div class="divider">&nbsp;</div>

          {% if tableOfContents is defined and tableOfContents.linkCountBeyondLevel(0) > 1 %}
          <div class="table-of-contents">
          {{ tableOfContents.renderHtmlList(startingLevel = 1) }}
          </div>
          {% endif %}
        </div>
      </div>
      <main>
        <header>
          <div class="header-image">
            <img src="{{ header_image }}">
          </div>

          <h1>{{ title }}</h1>

          <div class="social-media-divider">
            <hr class="divider">
            <a href="https://twitter.com/intent/tweet?text={{ description }} • Flutter Arbiter&url=https://flutterarbiter.com/{{ url }}"
               data-size="large"
               target="_blank"
              >
              <div class="twitter">
                <i class="fi fi-brands-twitter"></i>
              </div>
            </a>
            <hr class="divider">
          </div>
        </header>

        {% if tableOfContents is defined and tableOfContents.linkCountBeyondLevel(0) > 1 %}
        <div class="table-of-contents">
        {{ tableOfContents.renderHtmlList(startingLevel = 1) }}
        </div>
        {% endif %}

        <div class="content">
          {{ content }}
        </div>
      </main>
      <div class="main-gutter-right">&nbsp;</div>
    </div>

    {{ components.footer() }}

    <script src="/scripts/prism.js"></script>
  </body>
</html>